<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile &mdash; Abubakkar Siddique.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Abubakkar's Portfolio" />
	<meta name="keywords" content="html5, bootstrap, css3, mobile first, responsive" />
	<meta name="author" content="Abubakkar Siddique" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/assets/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/assets/css/style.css">
	<!-- Favicon  -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
	<link rel="manifest" href="static/images/site.webmanifest">



	<!-- Modernizr JS -->
	<script src="static/assets/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/assets/js/respond.min.js"></script>
	<![endif]-->


	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(static/images/user-3.jpg);"></div>
							<h1><span>Abubakkar Siddique</span></h1>
							<h3><span>Web Developer / Software Engineer</span></h3>
							<p>
    <ul class="fh5co-social-icons">
        <li><a href=""><i class="icon-twitter2"></i></a></li>
        <li><a href="https://www.facebook.com/abubakkar.siddique.58173?mibextid=LQQJ4d"><i class="icon-facebook2"></i></a></li>
        <li><a href="https://www.linkedin.com/in/abubakkar-siddique-276980260"><i class="icon-linkedin2"></i></a></li>
        <li><a href="https://github.com/abubakkarsiddique584" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Abubakkar Siddique</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+92 345 696 8822</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">abubakkarsiddique584@gmail.com</span></li>
						<li><span class="first-block">Website:</span><span class="second-block">www.ab.com</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">19160 Mingora Dangram Swat, Pakistan PK</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>Enthusiastic Software Engineer Graduate Basic Knowledge in coding and design, Proficient in HTML, CSS, JavaScript, MySql, Flutter, Dart, Bootstrap, Flask, GitHub, MySql, Pandas,  and Python.</p>
					<p>I possess track record of hands-on practical work. Ability to learn new software and Technologies quickly. Capability to Work in teams by providing valuable supports</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="https://www.facebook.com/abubakkar.siddique.58173?mibextid=LQQJ4d"><i class="icon-facebook3"></i></a></li>
							<li><a href="https://www.linkedin.com/in/abubakkar-siddique-276980260"><i class="icon-linkedin2"></i></a></li>
							<li><a href="https://github.com/abubakkarsiddique584" target="_blank"><i class="fab fa-github"></i></a></li>

						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>My Resume</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<ul class="timeline">
					<!-- Work Experience Section -->
					<li class="timeline-heading text-center animate-box">
						<div><h3>Work Experience</h3></div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge"><i class="icon-suitcase"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Python Backend Developer</h3>
								<span class="company">NEPNIC Swat - 2022 </span>
							</div>
							<div class="timeline-body">
								<p>I was part of “Kamyab Jawan NEPNIC” program, where I worked as a Python backend developer in a real-world project.</p>
							</div>
						</div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge"><i class="icon-suitcase"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Junior Software Developer</h3>
								<span class="company">Science & Technology Development Council KPK - Jan 2024 / Jan 2025 </span>
							</div>
							<div class="timeline-body">
								<p>During this year I gain alot of hand on practical experience by managing frontend development, also building backend system and working with APIs Using Python Framework  .</p>
							</div>
						</div>
					</li>

					<!-- Education Section -->
					<li class="timeline-heading text-center animate-box">
						<div><h3>Education</h3></div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Bachelors Degree</h3>
								<span class="company">University of Swat - 2019 - 2023</span>
							</div>
							<div class="timeline-body">
								<p> I have worked in a number of projects, and in my final year, I was mainly involved in a project “Shifa” - A System for Healthcare Provision. For this, I gathered a lot of data from end-users and healthcare experts.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">FSC-Pre Engineering</h3>
								<span class="company">GOVT Post Graduate Jahan Zeb College  - 2016 - 2018</span>
							</div>
							<div class="timeline-body">
								<p>Going to college was very exciting for me. During that period, I learned a lot from my teachers.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Metric-SSC</h3>
								<span class="company">The Abu Obaida Model School Dangram Swat  - 2014 - 2016</span>
							</div>
							<div class="timeline-body">
								<p>My First School.</p>
							</div>
						</div>
					</li>

					<!-- Language Section -->
					<li class="timeline-heading text-center animate-box">
						<div><h3>Languages</h3></div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge"><i class="icon-language"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Languages</h3>
							</div>
							<div class="timeline-body">
								<p>English (IELTS 6.5), Urdu (Native), Pashto (Native)</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div id="fh5co-features" class="animate-box">
    <div class="container">
        <div class="services-padding">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>My Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-paintbrush"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Web Design</h3>
                            <p style="text-align: justify;">I can work with Frontend Tools like Figma, Illustrator to design a beautiful layout that users will like.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="fa fa-file-excel-o"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Office Skills</h3>
                            <p style="text-align: justify;">I have a good understanding of Microsoft Excel and office software.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="fa fa-bullhorn"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Digital Marketing</h3>
                            <p style="text-align: justify;">Specialized in SEO, content strategy, and social media advertising to boost brand visibility and engagement.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-bargraph"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Web Development</h3>
                            <p style="text-align: justify;">I can work with different frameworks like Flask, Django, HTML, CSS, Bootstrap, JavaScript, MySQL, Firebase.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-genius"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Web Marketing</h3>
                            <p style="text-align: justify;">Experienced in web marketing, I specialize in creating digital strategies that boost online presence and drive traffic to websites. By leveraging SEO, content marketing, and social media campaigns, I help businesses reach their target audiences effectively and convert visitors into customers. My approach focuses on data-driven analytics to optimize performance and ensure measurable results in a competitive digital landscape.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="fa fa-code"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Python Development</h3>
                            <p style="text-align: justify;">I have experience working with Python for web development, automation, data analysis, and building interactive programs. I can write efficient code and use frameworks like Flask and Django to build web applications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Pandas</strong>70%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>Python</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Flask</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Bootstrap</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Office</strong>99%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Bootstrap</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Pandas</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Design</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Flask</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Office</span><span class="value-right">99%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">jQuery</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Work</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/images/portfolio-1.jpg);">
						<div class="desc">
							<h3>Shifa "A System for Healthcare Provision"</h3>
							<span>Mobile App </span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/images/portfolio-2.png);">
						<div class="desc">
							<h3>Image to Pdf Converter</h3>
							<span>Using Python to convert Image to Pdf</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/images/portfolio-3.png);">
						<div class="desc">
							<h3>Cookies Clicker Game</h3>
							<span>Using Selenium WebDriver which automatically click on the Cookies </span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/images/portfolio-4.png);">
						<div class="desc">
							<h3>BSE.EDU.PK</h3>
							<span>USing HTML, CSS and Bootstrap to build a good looking user interface</span>
							<span>BSE is a Professional organization established, constituted by the Government of the Pakistan, Manpower and Overseas.</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/images/portfolio-5.png);">
						<div class="desc">
							<h3>Password Generator</h3>
							<span>Using Python That will Generate a password for your different sites and store it into csv file</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/images/portfolio-6.png);">
						<div class="desc">
							<h3>Rain Alert Application</h3>
							<span>Using Openweather API that will alert you by Sms,Mail and Whatsapp That it will be Raining Tomorrow</span>
						</div>
					</a>
				</div>

				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/images/portfolio-7.png);">
						<div class="desc">
							<h3>Ping Pong Game</h3>
							<span>keep track records of the game by retrieving the previous data </span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
    <a href="#" class="work" style="background-image: url(static/images/portfolio-8.png); background-size: contain; background-repeat: no-repeat; background-position: center; width: 100%; height: 100%;">
        <div class="desc">
            <h3>TinDog Website</h3>
            <span>Using flask Bootstrap Html Css to make a beautiful website for Your dogs to find a beautiful Mate. </span>
        </div>
    </a>
</div>
				<p style="color: white; font-size: 18px; text-align: center;">To See My Other Work Please visit to my GitHub Account</p>


			</div>
		</div>
	</div>

<!--	<div id="fh5co-blog">-->
<!--		<div class="container">-->
<!--			<div class="row animate-box">-->
<!--				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
<!--					<h2>Post on Medium</h2>-->
<!--					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="row">-->
<!--				<div class="col-md-4">-->
<!--					<div class="fh5co-blog animate-box">-->
<!--						<a href="#" class="blog-bg" style="background-image: url(images/portfolio-1.jpg);"></a>-->
<!--						<div class="blog-text">-->
<!--							<span class="posted_on">Mar. 15th 2016</span>-->
<!--							<h3><a href="#">Photoshoot On The Street</a></h3>-->
<!--							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--							<ul class="stuff">-->
<!--								<li><i class="icon-heart2"></i>249</li>-->
<!--								<li><i class="icon-eye2"></i>308</li>-->
<!--								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>-->
<!--							</ul>-->
<!--						</div> -->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-4">-->
<!--					<div class="fh5co-blog animate-box">-->
<!--						<a href="#" class="blog-bg" style="background-image: url(images/portfolio-2.jpg);"></a>-->
<!--						<div class="blog-text">-->
<!--							<span class="posted_on">Mar. 15th 2016</span>-->
<!--							<h3><a href="#">Surfing at Philippines</a></h3>-->
<!--							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--							<ul class="stuff">-->
<!--								<li><i class="icon-heart2"></i>249</li>-->
<!--								<li><i class="icon-eye2"></i>308</li>-->
<!--								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>-->
<!--							</ul>-->
<!--						</div> -->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-4">-->
<!--					<div class="fh5co-blog animate-box">-->
<!--						<a href="#" class="blog-bg" style="background-image: url(images/portfolio-3.jpg);"></a>-->
<!--						<div class="blog-text">-->
<!--							<span class="posted_on">Mar. 15th 2016</span>-->
<!--							<h3><a href="#">Capture Living On Uderwater</a></h3>-->
<!--							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--							<ul class="stuff">-->
<!--								<li><i class="icon-heart2"></i>249</li>-->
<!--								<li><i class="icon-eye2"></i>308</li>-->
<!--								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>-->
<!--							</ul>-->
<!--						</div> -->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	-->
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>I will provide work with good quality and in the given time.</p>
					<p> If You want to Connect with Me please fill the below form. Thanks</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Me</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
    <h2>Contact</h2>
    <form action="{{ url_for('contact') }}" method="POST">
        <div class="row form-group">
            <div class="col-md-6">
                <input type="text" id="fname" name="fname" class="form-control" placeholder="Your firstname" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <input type="text" id="lname" name="lname" class="form-control" placeholder="Your lastname" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <input type="email" id="email" name="email" class="form-control" placeholder="Your email address" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <input type="text" id="subject" name="subject" class="form-control" placeholder="Your subject of this message" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary">
        </div>
    </form>
			 {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<!--	<div id="map" class="fh5co-map"></div>-->
<!--	</div>-->
	
	<div id="fh5co-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Footer content using Flexbox to align items horizontally -->
                <div class="footer-content d-flex justify-content-between align-items-center">
                    <div class="copyright">
                        &copy; All rights reserved.{{ye}} Design By: <a href="https://www.linkedin.com/in/abubakkar-siddique-276980260">Abubakkar Siddique</a>.
                    </div>
                    <!-- Social Icons in Footer -->
                    <ul class="fh5co-social-icons">
                        <li><a href=""><i class="icon-twitter2"></i></a></li>
                        <li><a href="https://www.facebook.com/abubakkar.siddique.58173?mibextid=LQQJ4d"><i class="icon-facebook2"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/abubakkar-siddique-276980260"><i class="icon-linkedin2"></i></a></li>
                        <li><a href="https://github.com/abubakkarsiddique584" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/assets/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="static/assets/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="static/assets/js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="static/assets/js/google_map.js"></script>
	
	<!-- Main -->
	<script src="static/assets/js/main.js"></script>

	</body>
</html>

